body {
  background-color: #F8F9F9;
  /* background-image: url("images/collage.jpg"); */
  color: #1C2833;
  font-family: 'Roboto Slab', sans-serif;
  font-size: 16px;
  padding: 20px;
  line-height: 24px;
}

.body {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  text-align: center;
  font-size: 48px;
}

p, ul, li {
  margin: none;
}

.container {
  /* max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px; */
  display: flex;
}

.container2 {
  flex-grow: 1;
}

.profpic img {
  width: min(80%, 250px);
  min-width: 150px;
}

a {
  color: #346b73;
  text-decoration-style: underline;
}

.prefooter {
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  padding: 20px;
  text-align: center;
}

.follow {
  font-size: 14px;
  display: inline-block;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 5px;
  /* margin-top: 5px; */
}

.followtitle {
  display: block;
}

.follow a {
  color: #1C2833;
}

.follow a:hover {
  color: #ABB2B9;
}

#megan {
  height: 500px;
  display: inline-block;
  float: right;
  border-radius: 10px;
}




/* Header */

.header {
  margin-top: 0;
  margin-bottom: 60px;
  font-size: 16px;
  vertical-align: top;
}

.header a, .header p {
  color: #1C2833;
  text-decoration: none;
  vertical-align: top;
}

.header .header__logo {
  display: inline-block;
}

.header .header__logo p {
  margin: 0;
  text-align: left;
  font-weight: bold;
  font-size: 18px;
  font-family: "Roboto Slab";
}

.header .header__logo p :hover {
  color: #ABB2B9;
  transition: color .4s;
}

.header .header__navbar {
  float: right;
  text-align: right;
}

.header .header__navbar p {
  margin: 0;
  display: inline-block;
  margin-left: 20px;
}

.header .header__navbar p :hover {
  color: #ABB2B9;
  transition: color .4s;
}




/* Media */

@media (max-width: 480px) {
  body {
    padding: 10px;
  }

  .container {
    padding: 0px;
    font-size: .8rem;
  }

  .follow {
    margin: 0;
    margin-right: 10px;
    font-size: .7rem;
  }

  .prefooter {
    text-align: center;
    margin-top: 10px;
  }

  .header {
    font-size: .8rem;
    margin-top: 0;
    margin-bottom: 10px;
  }

  .header .header__navbar p {
    margin-left: 8px;
  }

  .header__logo a {
    font-size: 1rem;
  }
}