* {
    font-family: 'Roboto Slab', serif;
}

h1 {
    font-size: 40px;
    font-weight: 800;
}

h2 {
    font-weight: normal;
}

ul {
    list-style: circle;
}

a {
    color: #9b0036;
}



i {
    margin: 6px;
    color: #ededed;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: color .5s;
}

.bar {
    background-color: #dba2af;
    border-radius: 10px;
}

#copyright {
    float: right;
    margin-top: 12px;
    margin-right: 5px;
    color: #ededed;
}

i:hover {
    color: black;
}

#everything {
    margin-left: 50px;
    margin-right: 50px;
}

h4 {
    margin-bottom: -15px;
}

#pronunciation {
    font-style: italic;
    font-size: 20px;
}

#portfolio {
    color: black;
}