body {
  background-color: #362936;
  /* background-image: url("images/collage.jpg"); */
  color: #362936;
  font-family: 'Average', serif;
}

h1 {
  text-align: center;
  font-size: 48px;
}

p, ul, li {
  margin: none;
  font-size: 20px;
  /* display: inline-block; */
}

.container {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  background-color: white;
  border-radius: 20px;
  padding: 10px;
}

a {
  color: #b30039;
  text-decoration-style: dotted;
}

.prefooter {
  color: white;
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  text-align: center;
}

.follow {
  display: inline-block;
  margin-right: 20px;
  margin-left: 20px;
}

.followtitle {
  display: block;
}

.follow a {
  color: white;
}

.follow a:hover {
  color: grey;
}

#megan {
  height: 500px;
  display: inline-block;
  float: right;
  border-radius: 10px;
}

@media (max-width: 480px) {
  .container {
    margin-top: 0;
    background-color: #362936;
    color: white;
    padding: 0px;
    border: none;
    border-radius: 0;
  }

  .follow {
    margin: 0;
    margin-right: 10px;
  }

  .prefooter {
    color: white;
    padding: 20px;
    text-align: center;
  }

  a {
    color: #ffccdc;
  }

  .container2 {
    border: none;
    padding: none;
  }
}

.container2 {
  border: 2px solid #362936;
  padding: 30px;
  border-radius: 10px;
}
